html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.DQcowN {
  min-height: 100vh;
}

/* Welcome */
.tenkzd {
  text-align: center;
  font-size: 2rem;
}

.XOMcsF {
  padding-left: 1rem;
  padding-right: 1rem;
}

.VhXyZO {
  margin: 0;
}

.hsaJW1 {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

/* Input */
.Xlinb9 {
  outline: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100%;
  border-radius: 9999px;
}

.TwMN2l {
  white-space: nowrap;
  animation: GVS8qS 5s linear 0s infinite;
  margin: 0;
}

@keyframes GVS8qS {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

.WmcrVj{
  position: fixed;
  background: #000;
  top: 0;
  width: 100%;
  height: 100vh;
}